* {
    box-sizing: border-box;
  }
  
  
  .Basketgoodscontainer {
      display: flex;
      flex-wrap: wrap;
      padding: 1rem 2rem;
      gap: 1.5rem;
      
    }

.BasketTotalcontainer {
    display: flex;
    justify-content: right;
    align-items: center;
    gap: 1rem;
    font-size: 1.5rem;
    padding-right: 1rem;
}


.MakeOrder {
    display: flex;
    justify-content: flex-end;
   
}

.MakeOrderButton {
    width: calc(180 / 1440 * 100vw);
    height: calc(52 / 1440 * 100vw);
    left: calc(209 / 1440 * 100vw);
    border: 0;
    color: #FFFFFF;
    background-color: #77373f;
    font-weight: 700;
    font-size: calc(17 / 1440 * 100vw);;
    font-family: Comic Sans MS;
    border-radius: 5px;
    transform: translate(-50%, 0);
    cursor: pointer;
    margin-right: 1rem;
}

.MakeOrderButton:hover {
    background-color: #d45160;
}


@media screen and (max-width: 768px) {
    .BasketTotalcontainer {
    font-size: 1.2rem;
    padding: 0.2rem;
    }

    .MakeOrderButton {
        font-size: calc(28 / 768 * 100vw);
         margin-right: 0.2rem;
      }
}