.CommonButton {
    outline: none;
    border: none;
    background: #8a0d18;
    padding: 0.4rem 1.7rem;
    color: white;
    border-radius: 7px;
    transition: .2s background-color;
    cursor: pointer;
    font-family: Comic Sans MS;
    font-size: 0.9rem;
}

.CommonButton:hover {
    background: #ec6457;
}
