*{
    box-sizing: border-box;
}

.form {
font-size: calc(16 / 1440 * 100vw);
line-height: calc(16 / 1440 * 100vw);
margin-top: calc(30 / 1440 * 100vw);
margin-bottom: calc(30 / 1440 * 100vw);
width: calc(600 / 1440 * 100vw);
height: calc(400 / 1440 * 100vw);
left: calc(420 / 1440 * 100vw);
background: #FFFFFF;
box-shadow: 1px 1px 10px 4px #f1b8bf;
border-radius: 10px;
overflow: hidden;
position: relative;
left: 50%;
transform: translate(-50%, 0);
}

.form__heading {
    margin-top: calc(40 / 1440 * 100vw);
    font-weight: 700;
    font-size: calc(20 / 1440 * 100vw);
    text-align: center;
}

.form-input__input {
width: calc(509 / 1440 * 100vw);
height: calc(49 / 1440 * 100vw);
background: #fff6f6;
border: calc(2 / 1440 * 100vw) solid #f1b8bf;
font-family: Comic Sans MS;
font-weight: 700;
color: #7c0d1a;
font-size: calc(28 / 1440 * 100vw);
line-height: calc(36 / 1440 * 100vw);
margin-top: calc(10 / 1440 * 100vw);
padding-left: calc(13 / 1440 * 100vw);
padding-bottom: calc(5 / 1440 * 100vw);
outline:  hsl(335, 79%, 40%);
border-radius: 10px;
}

.form-input__email > input {
    height: calc(50 / 1440 * 100vw);
}

.form-input__input:focus { 
    border-color: hsl(335, 79%, 40%);
}

::placeholder {
    color: #dfcaca;
    transform: translateY(calc(0.3 / 1440 * 100vw));
}

.form-input__email {
    display: flex;
    flex-direction: column;
    margin-bottom: calc(11 / 1440 * 100vw);
    margin-left: calc(33 / 1440 * 100vw);
    margin-top: calc(16 / 1440 * 100vw);
}

.formButton {
    width: calc(180 / 1440 * 100vw);
    height: calc(52 / 1440 * 100vw);
    margin-top: calc(30 / 1440 * 100vw);
    left: calc(209 / 1440 * 100vw);
    border: 0;
    color: #FFFFFF;
    background: #7c0d1a;
    font-weight: 700;
    font-size: calc(23 / 1440 * 100vw);;
    font-family: Comic Sans MS;
    border-radius: 5px;
    position: relative;
    left: 50%;
    transform: translate(-50%, 0);
}

.form-input-email__label {
    height: calc(16 / 1440 * 100vw);
    font-size: calc(23 / 1440 * 100vw);
    line-height: calc(16 / 1440 * 100vw);
    font-weight: 700;
    color: #7c0d1a;
    width: calc(90 / 1440 * 100vw);
    margin-left: calc(13 / 1440 * 100vw);
}

.form-input__password {
    display: flex;
    flex-direction: column;
    margin-bottom: calc(11 / 1440 * 100vw);
    margin-left: calc(33 / 1440 * 100vw);
    margin-top: calc(16 / 1440 * 100vw);
}

.form-input-password__label {
    height: calc(16 / 1440 * 100vw);
    font-size: calc(23 / 1440 * 100vw);
    line-height: calc(16 / 1440 * 100vw);
    font-weight: 700;
    color: #7c0d1a;
    width: calc(90 / 1440 * 100vw);
    margin-left: calc(13 / 1440 * 100vw);
}

@media screen and (max-width: 768px) {
    .form {
        font-size: calc(23 / 768 * 100vw);
        line-height: calc(16 / 768 * 100vw);
        margin-top: calc(30 / 768 * 100vw);
        margin-bottom: calc(30 / 768 * 100vw);
        width: calc(600 / 768 * 100vw);
        height: calc(400 / 768 * 100vw);
        left: calc(420 / 768 * 100vw);
        border-radius: 5px;
        position: relative;
        left: 50%;
        transform: translate(-50%, 0);
        }
        
        .form__heading {
            margin-top: calc(40 / 768 * 100vw);
            font-size: calc(30 / 768 * 100vw);
        }
        
        .form-input__input {
        width: calc(509 / 768 * 100vw);
        height: calc(49 / 768 * 100vw);
        border: calc(2 / 768 * 100vw) solid #f1b8bf;
        font-size: calc(30 / 768 * 100vw);
        line-height: calc(36 / 768 * 100vw);
        margin-top: calc(10 / 768 * 100vw);
        padding-left: calc(13 / 768 * 100vw);
        padding-bottom: calc(5 / 768 * 100vw);
        border-radius: 5px;
        }
        
        .form-input__email > input {
            height: calc(50 / 768 * 100vw);
        }
        
        ::placeholder {
            transform: translateY(calc(0.3 / 768 * 100vw));
        }
        
        .form-input__email {
            margin-bottom: calc(11 / 768 * 100vw);
            margin-left: calc(33 / 768 * 100vw);
            margin-top: calc(16 / 768 * 100vw);
        }
        
        .formButton {
            width: calc(180 / 768 * 100vw);
            height: calc(52 / 768 * 100vw);
            margin-top: calc(30 / 768 * 100vw);
            left: calc(209 / 768 * 100vw);
            font-size: calc(30 / 768 * 100vw);;
            border-radius: 5px;
            position: relative;
            left: 50%;
            transform: translate(-50%, 0);
        }
        
        .form-input-email__label {
            height: calc(16 / 768 * 100vw);
            font-size: calc(30 / 768 * 100vw);
            line-height: calc(16 / 768 * 100vw);
            width: calc(90 / 768 * 100vw);
            margin-left: calc(13 / 768 * 100vw);
        }
        
        .form-input__password {
            margin-bottom: calc(11 / 768 * 100vw);
            margin-left: calc(33 / 768 * 100vw);
            margin-top: calc(16 / 768 * 100vw);
        }
        
        .form-input-password__label {
            height: calc(16 / 768 * 100vw);
            font-size: calc(30 / 768 * 100vw);
            line-height: calc(16 / 768 * 100vw);
            width: calc(90 / 768 * 100vw);
            margin-left: calc(13 / 768 * 100vw);
        }
}