* {
  box-sizing: border-box;
}


.IndexCardcontainer {
    display: flex;
    flex-wrap: wrap;
    padding: 1rem 2rem;
    gap: 1.5rem;
    
  }
  
  .common-price::after {
    content: '₽';
  }

 .IndexMenucontainer {
  height: 4rem;
  background-color: #ffdbd6;
 }