* {
  box-sizing: border-box;
}


.IndexCardcontainer {
    display: flex;
    flex-wrap: wrap;
    padding: 1rem 2rem;
    gap: 1.5rem;
    
  }
  
  .common-price::after {
    content: '₽';
  }

 .IndexMenucontainer {
  height: 4rem;
  background-color: #ffdbd6;
  display: flex;
  justify-content: space-around;
  align-items: center;
 }

 .IndexMenucontaineritems {
  font-size: 1.3rem;
  border: calc(2 / 1440 * 100vw) solid #f1b8bf;
  border-radius: 7px;
  padding:0.4rem;
 }

 .search__input{
  width: calc(300 / 1440 * 100vw);
  height: calc(49 / 1440 * 100vw);
  background: #fff6f6;
  border: calc(2 / 1440 * 100vw) solid #f1b8bf;
  font-family: Comic Sans MS;
  font-weight: 700;
  color: #7c0d1a;
  font-size: calc(23 / 1440 * 100vw);
  line-height: calc(23 / 1440 * 100vw);
  outline: hsl(335, 79%, 40%);
  border-radius: 7px;
 }

 .search__input:focus { 
  border-color: hsl(335, 79%, 40%);
}