* {
  box-sizing: border-box;
}


.IndexCardcontainer {
    display: flex;
    flex-wrap: wrap;
    padding: 1rem 2rem;
    gap: 1.5rem;
    
  }
  
  .common-price::after {
    content: '₽';
  }

 .IndexMenucontainer {
  height: 4rem;
  background-color: #ffdbd6;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-radius: 10px;
  border: 1px solid #f3c1ba
 }

 .IndexMenucontaineritems {
  font-size: 1.3rem;
  border: calc(2 / 1440 * 100vw) solid #f1b8bf;
  border-radius: 7px;
  padding:0.4rem;
  text-align: center;
 }

 .IndexMenucontaineritems:hover {
  border: calc(2 / 1440 * 100vw) solid #7c0d1a;
}

 .search__input{
  width: 20rem;
  height: 2.5rem;
  background: #fff6f6;
  border: calc(2 / 1440 * 100vw) solid #f1b8bf;
  font-family: Comic Sans MS;
  font-weight: 700;
  color: #7c0d1a;
  font-size: calc(23 / 1440 * 100vw);
  line-height: calc(23 / 1440 * 100vw);
  outline: hsl(335, 79%, 40%);
  border-radius: 7px;
 }

 .search__input:focus { 
  border-color: hsl(335, 79%, 40%);
}

.search__input:hover {
  border: calc(2 / 1440 * 100vw) solid hsl(335, 79%, 40%);
}

.CategoryContainer{
display: flex;
justify-content: space-around;
}

.CategoryButton {
  background: #f39069;
  font-weight: 500;
  font-size: calc(25 / 1440 * 100vw);;
  font-family: Comic Sans MS;
  border-radius: 5px;
  color: white;
  border: 0;
  transition: all .4s ease;
  z-index: 2;
}

.CategoryButton:hover {
  scale: 1.02;
  transform: translateY(-5px);
  background-color: hsl(335, 79%, 40%);
  box-shadow: 1px 1px 10px 4px #ffdbd6;
}

@media screen and (max-width: 768px) {

  .IndexMenucontainer {
    height: 9rem;
    border-radius: 5px;
    border: 1px solid #f3c1ba;
    display: flex;
    flex-wrap: wrap;
    gap: 0.1rem;
    padding: 0.1rem;
   }
  
   .IndexMenucontaineritems {
    width: calc(500 / 768 * 100vw); 
    font-size: 1rem;
    border: calc(1 / 768 * 100vw) solid #f1b8bf;
    border-radius: 5px;
    text-align: center;
   }
  
   .search__input{
    width: calc(500 / 768 * 100vw);
    height: 2.5rem;
    font-size: calc(25 / 768 * 100vw);
    line-height: calc(25 / 768 * 100vw);
   }
  
  .CategoryButton {
    font-weight: 400;
    font-size: calc(45 / 1440 * 100vw);;
  }

}