.Card {
    width: 16rem;
    height: 35rem;
    box-shadow: 1px 1px 10px 4px #f1b8bf;
    border-radius: 15px;
    overflow: hidden;
    font-family: Comic Sans MS;
    font-size: 0.86rem;
    
}

.Card-container {
    padding: 0.1rem 1rem;
}

.Card-img {
    width: 100%;
    height: 20.7rem;
    object-fit: cover;
}

.Card-price {
    padding-bottom: 0.1rem;
    display: flex;
    justify-content: right;
    font-size: 1.2rem;
}

.Card-title {
    display: flex;
    justify-content: center;
    margin-top: 0.01rem;
    font-size: 1.1rem;
    font-weight: 400;
}

.Card-weight {
    display: flex;
    justify-content: left;
}